@model OrdersAndLowStockProductsViewModel
@{
    ViewData["Title"] = "Statistics";
}

<h1 class="display-4">Statistics</h1>
<hr />
<h3>All Orders</h3>
<table class="table">
    <thead>
        <tr>
            <th>OrderNumber</th>
            <th>TrackingNumber</th>
            <th>OrderStatus</th>
            <th>OrderDate</th>
            <th>ShippingAddress</th>
            <th>City</th>
            <th>ZipCode</th>
            <th>User</th>
            <th>Weather when ordered</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.OrderNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.TrackingNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.OrderStatus)</td>
                <td>@Html.DisplayFor(modelItem => item.OrderDate)</td>
                <td>@Html.DisplayFor(modelItem => item.ShippingAdress)</td>
                <td>@Html.DisplayFor(modelItem => item.City)</td>
                <td>@Html.DisplayFor(modelItem => item.ZipCode)</td>
                <td>@Html.DisplayFor(modelItem => item.User.UserName)</td>
                <td class="weather">
                    @(string.Format("{0:F1}", item.Temperature)) &deg;C
                    <img src="@string.Format("http://openweathermap.org/img/wn/{0}@2x.png", item.WeatherIcon)"
                         alt="Weather Icon" />
                </td>
            </tr>
        }
    </tbody>
</table>
<hr />
<h3>Products soon or out of stock</h3>

<table class="table">
    <thead>
        <tr>
            <th>ProductName</th>
            <th>Quantity</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @*Displays procuts that are lower or equal to 5*@
        @foreach (var product in Model.LowStockProducts)
        {
            <tr>
                <td>@product.ProductName</td>
                <td>@product.ProductStock</td>
                <td>@(product.Category != null ? product.Category.CategoryName : "No Category")</td>
            </tr>
        }
    </tbody>
</table>
<hr />
<h3>Most sold Product this week</h3>

<link rel="stylesheet" href="/css/products.css" />
<link rel="stylesheet" href="/css/site.css" />
<link rel="stylesheet" href="/css/Statistics.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>