@model IEnumerable<TeamBugBusters.Models.CheckoutViewModel>

@{
    ViewData["Title"] = "Checkout";
}

<h1>Checkout!</h1>




<div>
    <a asp-action="Index" asp-controller="Products" class="btn btn-outline-success">Back to webshop</a>
</div>

<br />

@* <form asp-action="PlaceOrder" asp-controller="Products" method="post">
    <p>Where do you want your order to be shipped?</p>
    <div class="form-group">
        <label asp-for="ShippingAdress" class="control-label">Shipping Adress</label>
        <input asp-for="ShippingAdress" class="form-control" />
        <span asp-validation-for="ShippingAdress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="City" class="control-label">City</label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ZipCode" class="control-label">Zip Code</label>
        <input asp-for="ZipCode" class="form-control" />
        <span asp-validation-for="ZipCode" class="text-danger"></span>
    </div>
    <div>
        <button type="submit" asp-action="Index" class="btn btn-success">Place order</button>
    </div>
</form>  *@

<br />

    <table class="table">
        <thead>
            <tr>
                <th>Total price</th>
                <th>Amount of items in Cart</th>
                <th>Total discount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.TotalPrice)</td>
                    <td>@Html.DisplayFor(modelItem => item.AmountOfItems)</td>
                    <td>@Html.DisplayFor(modelItem => item.TotalDiscount)</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Discount Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.ProductPrice</td>
                    <td>@item.DiscountPrice</td>
                    <td>@item.Quantity</td>
                </tr>
            }
        </tbody>
    </table>






