@model IEnumerable<TeamBugBusters.Models.CheckoutViewModel>

@{
    ViewData["Title"] = "Checkout";
}

<h1>Checkout!</h1>




<div>
    <a asp-action="Index" asp-controller="Products" class="btn btn-outline-success">Back to webshop</a>
</div>

<br />

    <table class="table">
        <thead>
            <tr>
                <th>Total price</th>
                <th>Amount of items in Cart</th>
                <th>Total discount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.TotalPrice)</td>
                    <td>@Html.DisplayFor(modelItem => item.AmountOfItems)</td>
                    <td>@Html.DisplayFor(modelItem => item.TotalDiscount)</td>
                </tr>
            }
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Discount Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.ProductPrice</td>
                    <td>@item.DiscountPrice</td>
                    <td>@item.Quantity</td>
                </tr>
            }
        </tbody>
    </table>






