@model IEnumerable<TeamBugBusters.Models.CartItems>

@{
    ViewData["Title"] = "Checkout";
}

<h1>Checkout!</h1>

@{
    var totalSum = Model.Sum(item => item.Product.IsDiscountActive() ? item.Product.DiscountPrice * item.Quantity : item.Product.ProductPrice * item.Quantity);
    var totalItems = Model.Sum(item => item.Quantity);
    var totalDiscount = Model.Where(item => item.Product.IsDiscountActive()).Sum(item => (item.Product.ProductPrice - item.Product.DiscountPrice) * item.Quantity);
}


<div>
    <a asp-action="Index" asp-controller="Products" class="btn btn-outline-success">Back to webshop</a>
</div>

<br />

@* <form asp-action="ActionName" asp-controller="ControllerName" method="post">
    <p>Where do you want your order to be shipped?</p>
    <div class="form-group">
        <label asp-for="ShippingAdress" class="control-label">Shipping Adress</label>
        <input asp-for="ShippingAdress" class="form-control" />
        <span asp-validation-for="ShippingAdress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="City" class="control-label">City</label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ZipCode" class="control-label">Zip Code</label>
        <input asp-for="ZipCode" class="form-control" />
        <span asp-validation-for="ZipCode" class="text-danger"></span>
    </div>
    <div>
        <a asp-action="Index" asp-controller="Orders" class="btn btn-success">Place order</a>
    </div>
</form> *@

<br />

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Total price</th>
                <th>Amount of items in Cart</th>
                <th>Total discount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@totalSum</td>
                <td>@totalItems</td>
                <td>@totalDiscount</td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Discount Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Product.ProductName</td>
                    <td>@item.Product.ProductPrice</td>
                    <td>@item.Product.DiscountPrice</td>
                    <td>@item.Quantity</td>
                    <td>
                        <form asp-action="UpdateQuantity" asp-route-id="@item.CartItemsId" method="post">
                            <button type="submit" name="change" value="increase" class="btn btn-primary">+</button>
                            <button type="submit" name="change" value="decrease" class="btn btn-primary">-</button>
                        </form>
                        <form asp-action="RemoveFromCart" asp-route-id="@item.FkProductId" method="post">
                            <button type="submit" class="btn btn-outline-danger">Remove</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

else
{
    <div class="container">
        <h2 class="display-5">Your cart is empty</h2>
    </div>
}





