@model IEnumerable<TeamBugBusters.Models.OrderViewModel>
@{
    ViewData["Title"] = "Order";
    bool orderPlaced = TempData["orderPlaced"] as bool? ?? false;
}

<h1>Your Order!</h1>

@if (orderPlaced)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Your order has been placed!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div>
    <h3>Thank you for your order!</h3>
    <h5>You'll recieve an Email about your order within 10 minutes. If you have any questions, please contact our support at teambugbusters@Email.com </h5>
</div>

@* <table class="table">
    <thead>
        <tr>
            <th>Total price</th>
            <th>Total discount</th>
            <th>Product name</th>
            <th>Quantity</th>
            <th>Product price</th>
            <th>Product discount</th>
            <th>Amount of items</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table> *@

<table class="table">
    <thead>
        <tr>
            <th>Order number</th>
            <th>Tracking number</th>
            <th>Order date</th>
            <th>Shipping adress</th>
            <th>Order status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.OrderNumber</td>
                <td>@item.TrackingNumber</td>
                <td>@item.OrderDate</td>
                <td>@item.ShippingAddress</td>
                <td>@item.OrderStatus</td>
            </tr>
        }
    </tbody>
</table>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>





