@model IEnumerable<TeamBugBusters.Models.Product>

@{
    ViewData["Title"] = "Products";
    //sortering
    var distinctCategories = Model.Select(p => p.Category).GroupBy(c => c.CategoryId).Select(g => g.First()).OrderBy(c => c.CategoryName).ToList();

    bool itemAdded = TempData["itemAdded"] as bool? ?? false;
}

@if (itemAdded)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Product has been added to Cart!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<h1 class="display-4">Our products</h1>
<div class="row mt-5">
    <div class="col-sm-2">
        <h1 class="mb-4">Categories</h1>
        @foreach(var category in distinctCategories)
        {
        <p class="card-text">
            <a asp-action="FilterByCategory" asp-route-categoryId="@category.CategoryId" class="text-dark">
                @category.CategoryName
            </a>
        </p>
        }
    </div>
    <div class="col-sm-10">
        <div class="d-flex gap-3 flex-row flex-wrap justify-content-start">
            @foreach (var item in Model)
            {
                <div class="card" style="width: 22rem;">
                    <img class="card-img-top" src="@item.ProductImage" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.ProductName</h5>
                        <p class="card-text">@item.ProductDescription</p>

                        @*This if state checks if there is any active discount for each product, if there is then we display discountprice otherwise we display 
                            the original price
                        *@
                        @if (item.IsDiscountActive())
                        {
                            <span>Price: </span>
                            <span style="text-decoration:line-through;">@item.ProductPrice</span>
                            <span>@item.DiscountPrice</span>
                            <p class="card-text">This discount ends: @item.DiscountEndDate</p>
                        }
                        else
                        {
                            <p class="card-text">Price: @item.ProductPrice</p>
                        }

                        <p class="card-text">
                            @*this switch case checks depending on how many products are left, 
                              it shows it in different colors so it's easier to spot if there are few products left in stock
                            *@
                            @switch (item.ProductStock)
                            {
                                case int n when (n > 10):
                                    <span style="color:green">Amount in stock: @item.ProductStock</span>
                                    break;
                                case int n when (n > 5 && n <= 10):
                                    <span style="color:darkorange">Amount in stock: @item.ProductStock</span>
                                    break;
                                case int n when (n > 0 && n <= 5):
                                    <span style="color:red">Amount in stock: @item.ProductStock</span>
                                    break;
                                case 0:
                                    <span>This product is sold out</span>
                                    break;
                                default:
                                    <span>Amount in stock: @item.ProductStock</span>
                                    break;
                            }
                        </p>
                        @*If a product is sold out we disable the button so user can't accedently add a product that are sold out*@
                        @if(item.ProductStock > 0)
                        {
                            <a asp-action="AddToCart" asp-route-productId="@item.ProductId" class="btn btn-primary">Add to cart</a>
                        }
                        else
                        {
                            <a class="btn btn-danger disabled" aria-disabled="true">Add to cart</a>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<link rel="stylesheet" href="/css/products.css" />
<link rel="stylesheet" href="/css/site.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
