@model IEnumerable<TeamBugBusters.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h1 class="display-4">Our products</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDiscount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
               Category
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDiscount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a> |
                <a asp-action="AddToCart" asp-route-productId="@item.ProductId">Add to cart</a>
            </td>
        </tr>
}
    </tbody>
    </table> *@
    <div class="row mt-5">
        <div class="col-sm-2">
            <h1>Categories</h1>
        </div>
        <div class="col-sm-10">
        <div class="d-flex gap-3 flex-row flex-wrap justify-content-start">
            @foreach (var item in Model)
            {
                <div class="card" style="width: 22rem;">
                    <img class="card-img-top" src="@Html.DisplayFor(modelItem=>item.ProductImage)" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.ProductName)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.ProductDescription)</p>
                        <p class="card-text">Price: @Html.DisplayFor(modelItem => item.ProductPrice):-</p>
                        <p class="card-text">
                            @switch (item.ProductStock)
                            {
                                case int n when (n > 10):
                                    <span style="color:green">Amount in stock: @Html.DisplayFor(modelItem => item.ProductStock)</span>
                                    break;
                                case int n when (n > 5 && n <= 10):
                                    <span style="color:darkorange">Amount in stock: @Html.DisplayFor(modelItem => item.ProductStock)</span>
                                    break;
                                case int n when (n > 0 && n <= 5):
                                    <span style="color:red">Amount in stock: @Html.DisplayFor(modelItem => item.ProductStock)</span>
                                    break;
                                case 0:
                                    <span>This product is sold out</span>
                                    break;
                                default:
                                    <span>Amount in stock: @Html.DisplayFor(modelItem => item.ProductStock)</span>
                                    break;
                            }
                        </p>
                        <a asp-action="AddToCart" asp-route-productId="@item.ProductId" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            }
        </div>
        </div>
    </div>
   

<link rel="stylesheet" href="/css/products.css" />
