@model IEnumerable<TeamBugBusters.Models.CartItems>

@{
    ViewData["Title"] = "Cart";
    bool isRemoved = TempData["isRemoved"] as bool? ?? false;
}
<h1 class="display-4">Cart</h1>

@if (isRemoved)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        Product has been removed from Cart!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

@{
    var totalSum = Model.Sum(item => item.Product.IsDiscountActive() ? item.Product.DiscountPrice * item.Quantity : item.Product.ProductPrice * item.Quantity);
    var totalItems = Model.Sum(item => item.Quantity);
    var totalDiscount = Model.Where(item => item.Product.IsDiscountActive()).Sum(item => (item.Product.ProductPrice - item.Product.DiscountPrice) * item.Quantity);
}

@if (Model.Any())
{
    

<div>
        <a asp-action="Checkout" asp-controller="Checkouts" class="btn btn-outline-success">Continue to checkout</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Total price</th>
            <th>Amount of items in Cart</th>
            <th>Total discount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@totalSum</td>
            <td>@totalItems</td>
            <td>@totalDiscount</td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Discount Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product.ProductName</td>
                <td>@item.Product.ProductPrice</td>
                <td>@item.Product.DiscountPrice</td>
                <td>@item.Quantity</td>
                <td>
                    <form asp-action="UpdateQuantity" asp-route-id="@item.CartItemsId" method="post">
                        <button type="submit" name="change" value="increase" class="btn btn-primary">+</button>
                        <button type="submit" name="change" value="decrease" class="btn btn-primary">-</button>
                    </form>
                    <form asp-action="RemoveFromCart" asp-route-id="@item.FkProductId" method="post">
                        <button type="submit" class="btn btn-outline-danger">Remove</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    </table>
}
else
{
    <div class="container">
        <h2 class="display-5">Your cart is empty</h2>
    </div>
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


